/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "partials/constants";

body {
  font-family: $sans-serif-font;
  font-size: 14px;
  line-height: 17px;
}

* {
  @include transition-property(all);
  @include transition-duration(.5s);
}

.btn {
  @include border-radius(25px);
  border: none;
  padding: 14px 15px;
  min-width: 175px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &.btn-primary {
    background: $primary-color;

    &:hover {
      background: $primary-dark-color;
    }
  }
}

a {
  color: #07a6f9;

  &:hover {
    color: #0c83c1;
  }
}

.nav.progressNav {
  flex-direction: column;

  & a {
    color: #a2a5a8;
    flex: 1;
    position: relative;
    padding: 15px;

    & > .bullet {
      min-width: 15px;
      text-align: left;
      display: inline-block;
    }

    &:hover {
      color: $primary-color;
    }

    &.disable {
      @include opacity(0.5);
      cursor: default;

      &:hover {
        color: #a2a5a8;
      }
    }

    &.active {
      color: $primary-color;
      @include opacity(1);
      font-weight: bold;
    }
  }
}

.row {
  flex: 1;
}

.img-responsive {
  max-width: 100%;
}

.hide {
  display: none !important;
}
