/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "partials/constants";

body {
  font-family: $sans-serif-font;
  font-size: 14px;
  line-height: 17px;
}

* {
  @include transition-property(all);
  @include transition-duration(.5s);
}

.btn {
  @include border-radius(25px);
  border: none;
  padding: 14px 15px;
  min-width: 175px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &.btn-primary {
    background: $primary-color;

    &:hover {
      background: $primary-dark-color;
    }
  }
}

.nav.progressNav {
  margin-bottom: 25px;

  & a {
    font-size: 13px;
    font-weight: bold;
    color: #a2a5a8;
    flex: 1;
    text-transform: uppercase;
    position: relative;
    padding: 0;
    @include opacity(0.3);

    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:before {
      width: 10px;
      height: 10px;
      top: 0;
      background: black;
      @include border-radius(10px);
    }
    &:after {
      width: 100%;
      top: 4px;
      height: 1px;
      background: black;
    }

    & > .progressTitle {
      display: none;
      margin: 20px 0 0;
    }

    &:hover {
      color: $primary-color;
    }
    &.active {
      color: $primary-color;
      @include opacity(1);

      &:before {
        background: $primary-color;
      }

      &:after {
        width: 100%;
        height: 1px;
        background: $primary-color;
      }

      & > .progressTitle {
        display: block;
      }
    }
  }
}

.react-tabs {
  & ul.react-tabs__tab-list {
    & li.react-tabs__tab {
      font-size: 13px;
      font-weight: bold;
      color: #a2a5a8;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 15px;
      margin: 0 0 25px;
      cursor: pointer;
      border-bottom: 2px solid #fff;

      &:hover {
        color: $primary-color;
      }

      &.react-tabs__tab--selected {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }
  }

  & .react-tabs__tab-panel {
    & .react-tabs__tab-panel--selected {
    }
  }
}

.img-responsive {
  max-width: 100%;
}

.hide {
  display: none !important;
}
