/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "partials/constants";

html,
body {
  height: 100%;
}

body {
  font-family: $sans-serif-font;
  font-size: 14px;
  line-height: 17px;
  background: #fff;
}

* {
  @include transition-property(all);
  @include transition-duration(.5s);
  @include box-sizing(border-box);
}

.btn {
  @include border-radius(25px);
  border: none;
  padding: 14px 15px;
  min-width: 175px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &.btn-primary {
    background: $primary-color;

    &:hover {
      @include opacity(.8);
    }
  }
}

.nav {
  & a {
    font-size: 13px;
    font-weight: bold;
    color: #a2a5a8;
    text-transform: uppercase;
    min-height: 15px;
    border-bottom: 2px solid #fff;

    & > span {
      &.fa {
        margin-right: 5px;
      }
    }

    &:hover {
      color: $primary-color;
    }
    &.active {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
}

.react-tabs {
  & ul.react-tabs__tab-list {
    & li.react-tabs__tab {
      font-size: 13px;
      font-weight: bold;
      color: #a2a5a8;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 15px;
      margin: 0 0 25px;
      cursor: pointer;
      border-bottom: 2px solid #fff;

      &:hover {
        color: $primary-color;
      }

      &.react-tabs__tab--selected {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }
  }

  & .react-tabs__tab-panel {
    & .react-tabs__tab-panel--selected {
    }
  }
}

.hide {
  display: none !important;
}

#root,
#root > div,
#root > div > div {
  height: 100%;
}

#profile {
  min-height: 100%;

  & > div {
    min-height: 100%;
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    padding: 25px;
    background: $primary-color;
    flex: 1;
    width: 460px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10001;

    & .home-menu {
      justify-content: space-between;
      display: flex;

      & a {
        color: #fff;

        &:nth-child(2n) {
          padding: 10px;
        }
      }
      & .initial {
        font-family: $brand-font;
        font-size: 30px;
        // font-weight: bolder;
        padding: 9px 3px;
        color: rgba(#000000, 0.3);
      }
    }
    & > .profilePicWrapper {
      @include box-shadow(20px 20px 30px 0 rgba(0, 0, 0, 0.05));
      height: 630px;
      max-height: 80%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 52%;
      background-color: #ffffff;

      & > .infographic,
      & > .profilePic {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

      & > .infographic {
        background: #fff;
        z-index: 2;
        overflow: auto;

        .total-exp {
          flex-direction: column;
          display: flex;
          align-items: center;
          padding: 30px;

          .job-exp {
            font-weight: bolder;
            font-size: 25px;
            color: #e83435;
            margin: 10px 0 0;
          }
        }
        .job-wrapper {
          background: #f4f7f8;
          @include box-shadow(inset 0 6px 5px 0 rgba(0,0,0,0.02));
          padding: 15px;
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          position: relative;

          &:before {
            content: "";
            width: 15px;
            height: 15px;
            background: #fff;
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            top: -8px;
            margin: auto;
            @include transform(rotate(45deg));
          }

          & > .job {
            flex-direction: column;
            display: flex;
            flex: 1;
            min-width: 45%;
            padding: 15px;
          }
        }
        .job-title {
          font-weight: bold;
          font-size: 13px;
          color: #a2a5a8;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        .job-duration {
          color: #68717c;
          margin-bottom: 5px;
        }
        .job-exp {
          font-size: 20px;
          color: #68717c;
          margin-bottom: 5px;
        }
        & .skills {
          padding: 30px;

          & .job-title {
            margin-bottom: 15px;
            display: inline-block;
          }

          & > .skill {
            margin: 0 0 15px;

            & > span {
              color: #68717c;
            }
          }
        }
      }

      & > .profilePic {
        background: url('/images/Photo.png') no-repeat top center;
        background-size: cover;
        z-index: 1;
      }
    }
    & > dl {
      line-height: 21px;

      & > span {
        display: inline-block;
        width: 100%;

        &:last-child dd {
          margin-bottom: 0;
        }
      }

      & dt {
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
      }
      & dd {
        color: #fff;
        margin: 0 0 15px;

        &.social {
          & a {
            color: #fff;
            padding-right: 15px;
            font-size: 16px;
            padding-right: 15px;
          }
        }

        & a {
          color: #fff;

          &:hover {
            @include opacity(0.8);
          }
        }
      }
    }
  }
  .ProgressBar {
    width: 100%;
    height: 5px;
    background: #f2f6f7;
    display: inline-block;
    position: relative;

    & > span {
      background: #2d343b;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
  .contentWrapper {
    flex: 1;
    padding: 25px;
    margin-left: 460px;
    display: flex;
    max-width: 670px;
    flex-direction: column;
    box-sizing: content-box;

    &.home {
      justify-content: space-between;

      & .social-profiles {
        display: none;
        margin-top: 30px;

        & > span {
          margin: 0 0 15px;
          display: inline-block;
          width: 100%;

          & .social {
            margin-left: -5px;

            & .fa {
              padding: 10px 15px;
              margin: 5px;
              border: 1px solid #ccc;
            }
          }
        }
      }
    }

    &.story {
      & .nav {
        position: fixed;
        z-index: 1000;

        & + .menuMask {
          position: fixed;
          z-index: 1;
          left: 0;
          right: 0;
          top: 0;
          height: 130px;
          @include background-image(linear-gradient(top, rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%));
        }
      }
      & .content {
        margin-top: 100px;
        margin-bottom: 100px;
        padding-left: 95px;
      }
    }

    & .content {
      padding-left: 210px;

      & p {
        white-space: pre-wrap;
      }
    }

    & .short-desc {
      color: #68717c;
      line-height: 21px;
      margin: -10px 0 25px;
      display: inline-block;

      & > span {
        margin-right: 10px;
        margin-bottom: 5px;
        display: inline-block;
      }
    }
    & p {
      font-family: $serif-font;
      font-size: 20px;
      color: #68717c;
      line-height: 30px;
      margin: 0 0 25px;
    }
  }
}

dl.timeline {
  & dt {
    width: 50px;
    text-align: right;
    float: left;
    font-weight: bold;
    font-size: 14px;
    color: #2d343b;
    line-height: 24px;
  }
  & dd {
    margin-left: 75px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #68717c;
    line-height: 30px;
    position: relative;
    padding-left: 25px;

    &:before {
      content: "\f10c";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 11px;
      display: inline-block;
      font-family: FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

h1 {
  font-family: $serif-font;
  font-size: 35px;
  line-height: 46px;
  color: #2d343b;
  margin: 0 0 15px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.loader {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .brand {
    font-family: $brand-font;
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.notFound {
  display: flex;
  flex: 1;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;

  & > span {
    font-size: 16px;

    &.foundMsg {
      text-align: center;

      &:before {
        content: "";
        display: block;
        width: 224px;
        height: 144px;
        background: url('../images/notfound.jpg') no-repeat center center;
        margin: 0 0 25px;
      }
    }
    &.heading {
      font-family: $serif-font;
      font-size: 30px;
      line-height: 33px;
      margin: 9px 0 15px;
    }
    &.message {
      margin: 0 0 30px;
    }
    & strong {
      font-weight: bolder;
    }
  }
}
