@import "partials/constants";

#landingPage {
  background: #f4f4f4;
  height: auto !important;
  padding-bottom: 100px;

  & .pageWrapper {
    max-width: 1280px;
    margin: auto;
    flex: 1;
    background: #f5f7fa;
    @include box-shadow(rgba(0, 0, 0, .1) 0px 5px 5px);

    & h1,
    & h2,
    & h3 {
      font-family: 'Volkhov', serif;
    }

    & img {
      max-width: 100%;
    }

    & .banner {
      flex: 1;
      background: url('../images/banner.png') no-repeat top center;
      background-size: 1280px;

      & .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;

        & .topStrip {
          width: 100%;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          & a {
            color: #fff;
            display: inline-block;
            padding: 30px 0;
          }

          & .brand {
            font-family: $brand-font;
            font-size: 24px;
            min-width: 200px;
            flex: 1;
          }
          & .signCTA {
            min-width: 200px;
            flex: 1;
            text-align: right;

            & a {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }

        & > h3 {
          margin: 15px 0 10px;
          font-size: 16px;
          font-weight: bold;
        }

        & > h1 {
          color: #fff;
          font-size: 45px;
          font-weight: bold;
          line-height: 61px;
          margin: 0 0 30px;
          text-align: center;
        }

        & > p {
          font-family: 'Volkhov', serif;
          font-size: 16px;
          margin: 0 0 30px;
          line-height: 23px;
          text-align: center;
        }

        & > .btn {
          &.signup {
            color: #fff;
            border: 2px solid #fff;
            padding: 15px 25px;
            margin: 15px 0 45px;

            &:hover {
              background: #fff;
              color: #007bff;
            }
          }
        }
      }
    }

    & .homeContWrapper {
      & h5 {
        font-size: 16px;
        font-weight: bold;
        color: #102350;
        line-height: 36px;
        text-align: center;

        &:after {
          content: "";
          height: 2px;
          width: 30px;
          background: #d0d6df;
          display: block;
          margin: 5px auto 10px;
        }
      }

      & .secRow {
        display: flex;
        align-items: center;

        & > div {
          display: flex;

          &:first-child {
            justify-content: flex-end;
            align-items: flex-end;
          }
          &:last-child {
            justify-content: flex-start;
            align-items: flex-start;
          }
        }

        & p {
          max-width: 360px;
        }

        & > * {
          flex: 1;
        }
        &.imgRight {
          flex-direction: row-reverse;

          & > div {
            &:first-child {
              justify-content: flex-start;
              align-items: flex-start;
            }
            &:last-child {
              align-items: flex-end;
              justify-content: flex-end;
            }
          }
          & p {
            text-align: right;
          }
        }
      }

      & p {
        font-family: 'Volkhov', serif;
        font-size: 22px;
        line-height: 30px;
      }
    }

    & > .footer {
      display: flex;
      flex: 1;
      justify-content: space-between;
      margin-bottom: -60px;
      margin-top: 60px;
      flex-wrap: wrap;
      padding: 0 30px;

      & .fa-heart {
        color: #e74c3c;
      }

      & > * {
        min-width: 200px;
        flex: 1;

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .brand {
    text-align: center;
  }
  .signCTA {
    display: none;
  }
  #landingPage .pageWrapper > .footer > *,
  #landingPage .pageWrapper > .footer > *:last-child {
    text-align: center;
    min-width: 250px;
  }

  #landingPage .pageWrapper > .footer > *:last-child {
    margin-top: 15px;
    margin-bottom: -15px;
  }
}

@media (max-width: 768px) {
  #landingPage .pageWrapper .homeContWrapper .secRow,
  #landingPage .pageWrapper .homeContWrapper .secRow.imgRight {
    flex-direction: column;

    & > div {
      align-items: center;

      &:first-child {
        margin-bottom: -40px;
      }
      &:last-child {
        margin-bottom: 40px;
      }

      & p {
        text-align: center;
      }
    }
  }
}
