/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../sass/partials/_common.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

/* line 15, ../../sass/partials/_common.scss */
* {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 20, ../../sass/partials/_common.scss */
.btn {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: none;
  padding: 14px 15px;
  min-width: 175px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
/* line 30, ../../sass/partials/_common.scss */
.btn.btn-primary {
  background: #eb3c3c;
}
/* line 33, ../../sass/partials/_common.scss */
.btn.btn-primary:hover {
  background: #ca2e2e;
}

/* line 39, ../../sass/partials/_common.scss */
a {
  color: #07a6f9;
}
/* line 42, ../../sass/partials/_common.scss */
a:hover {
  color: #0c83c1;
}

/* line 47, ../../sass/partials/_common.scss */
.nav.progressNav {
  flex-direction: column;
}
/* line 50, ../../sass/partials/_common.scss */
.nav.progressNav a {
  color: #a2a5a8;
  flex: 1;
  position: relative;
  padding: 15px;
}
/* line 56, ../../sass/partials/_common.scss */
.nav.progressNav a > .bullet {
  min-width: 15px;
  text-align: right;
  margin-right: 10px;
  display: none;
}
/* line 63, ../../sass/partials/_common.scss */
.nav.progressNav a:hover {
  color: #eb3c3c;
}
/* line 67, ../../sass/partials/_common.scss */
.nav.progressNav a.disable {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}
/* line 71, ../../sass/partials/_common.scss */
.nav.progressNav a.disable:hover {
  color: #a2a5a8;
}
/* line 76, ../../sass/partials/_common.scss */
.nav.progressNav a.active {
  color: #eb3c3c;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  font-weight: bold;
}

/* line 84, ../../sass/partials/_common.scss */
.row {
  flex: 1;
}

/* line 88, ../../sass/partials/_common.scss */
.img-responsive {
  max-width: 100%;
}

/* line 92, ../../sass/partials/_common.scss */
.hide {
  display: none !important;
}

/* line 4, ../../sass/partials/_content.scss */
html,
body {
  height: 100%;
}

/* line 9, ../../sass/partials/_content.scss */
body {
  background: #f5f7fa;
}

/* line 13, ../../sass/partials/_content.scss */
#root,
#root > div,
#root > div > div {
  height: 100%;
}

/* line 19, ../../sass/partials/_content.scss */
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  line-height: 46px;
  color: #2d343b;
  margin: 0 0 15px;
}

/* line 27, ../../sass/partials/_content.scss */
.simpleForm {
  display: flex;
  margin-bottom: 45px;
}
/* line 34, ../../sass/partials/_content.scss */
.simpleForm.publicOnly {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 41, ../../sass/partials/_content.scss */
.simpleForm .simpleFormWrapper hr {
  margin: 30px -30px;
}
/* line 45, ../../sass/partials/_content.scss */
.simpleForm .simpleFormWrapper h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
/* line 51, ../../sass/partials/_content.scss */
.simpleForm .simpleFormWrapper > * {
  padding: 0 30px;
}
/* line 54, ../../sass/partials/_content.scss */
.simpleForm .simpleFormWrapper > *:first-child {
  padding-top: 30px;
}
/* line 58, ../../sass/partials/_content.scss */
.simpleForm .simpleFormWrapper > *:last-child {
  padding-bottom: 30px;
}
/* line 65, ../../sass/partials/_content.scss */
.simpleForm .simpleFormWrapper .row .col-md-6:first-child {
  padding-top: 30px;
}
/* line 68, ../../sass/partials/_content.scss */
.simpleForm .simpleFormWrapper .row .col-md-6:first-child p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin: 0 0 15px;
  font-size: 13px;
}

/* line 79, ../../sass/partials/_content.scss */
.colField {
  display: flex;
}
/* line 82, ../../sass/partials/_content.scss */
.colField li {
  flex: 1;
}

/* line 87, ../../sass/partials/_content.scss */
.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 101, ../../sass/partials/_content.scss */
.loader > .brand {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  margin-bottom: 15px;
}

/* line 108, ../../sass/partials/_content.scss */
.appHeader {
  margin-bottom: 25px;
}
/* line 111, ../../sass/partials/_content.scss */
.appHeader .container {
  align-items: center;
  display: flex;
}
/* line 115, ../../sass/partials/_content.scss */
.appHeader .container > span {
  flex: 1;
  padding: 15px;
}
/* line 119, ../../sass/partials/_content.scss */
.appHeader .container > span:last-child {
  text-align: right;
  padding: 0;
}
/* line 124, ../../sass/partials/_content.scss */
.appHeader .container > span > a {
  margin: 0;
  cursor: pointer;
  padding: 15px;
  display: inline-block;
}
/* line 130, ../../sass/partials/_content.scss */
.appHeader .container > span > a:hover {
  background: rgba(245, 247, 250, 0.5);
}
/* line 137, ../../sass/partials/_content.scss */
.appHeader .storyCTA {
  display: 'flex';
  align-items: 'flex-end';
}
/* line 142, ../../sass/partials/_content.scss */
.appHeader .brand {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  margin: 0;
  display: inline-block;
}

/* line 150, ../../sass/partials/_content.scss */
.formTopStrip {
  padding-bottom: 15px !important;
  background: #f5f7fa;
}

/* line 155, ../../sass/partials/_content.scss */
.domain {
  padding: 0;
}
/* line 158, ../../sass/partials/_content.scss */
.domain .text {
  color: #a2a5a8;
  display: inline-block;
  padding-right: 15px;
}
/* line 165, ../../sass/partials/_content.scss */
.domain.live .fa {
  color: #60da09;
}
/* line 171, ../../sass/partials/_content.scss */
.domain.notLive .fa {
  color: rgba(0, 0, 0, 0.2);
}
/* line 176, ../../sass/partials/_content.scss */
.domain .fa {
  font-size: 11px;
  display: inline-block;
  padding: 0 5px 0 0;
}

/* line 183, ../../sass/partials/_content.scss */
.brand {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  margin: 0;
  display: inline-block;
}

/* line 190, ../../sass/partials/_content.scss */
.storyCTA {
  align-items: center;
  display: flex;
}

/* line 195, ../../sass/partials/_content.scss */
.Completed {
  text-align: center;
}
/* line 198, ../../sass/partials/_content.scss */
.Completed img {
  margin: 0 0 15px;
}
/* line 202, ../../sass/partials/_content.scss */
.Completed h2 {
  font-size: 21px;
  font-weight: lighter;
  line-height: 24px;
  margin: 0 0 25px;
}
/* line 209, ../../sass/partials/_content.scss */
.Completed .URLBtn {
  margin: 10px 0 0;
}
/* line 212, ../../sass/partials/_content.scss */
.Completed .URLBtn span {
  text-transform: none !important;
  color: #eb3c3c;
}

/* line 4, ../../sass/partials/_survey-form.scss */
.longReadActive {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: flex-start;
  max-height: 100%;
  overflow: auto;
}
/* line 11, ../../sass/partials/_survey-form.scss */
.longReadActive .longDesc {
  max-width: 650px;
  margin: auto;
}
/* line 15, ../../sass/partials/_survey-form.scss */
.longReadActive .longDesc p {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 25px;
}

/* line 23, ../../sass/partials/_survey-form.scss */
.secretBtn {
  margin-right: 15px;
  display: none;
}

/* line 29, ../../sass/partials/_survey-form.scss */
.result p {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 15px;
}
/* line 35, ../../sass/partials/_survey-form.scss */
.result .people {
  margin: 25px 0 0;
}
/* line 39, ../../sass/partials/_survey-form.scss */
.result .footerBTN {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 44, ../../sass/partials/_survey-form.scss */
.result .footerBTN > span {
  flex: 1;
  min-width: 200px;
}
/* line 48, ../../sass/partials/_survey-form.scss */
.result .footerBTN > span:last-child {
  text-align: right;
}

/* line 55, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer {
  display: flex;
  min-height: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 61, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer .secretBtn {
  display: inline-block;
}
/* line 65, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer .result {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
/* line 73, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer {
  max-width: 650px;
  flex: 1;
}
/* line 77, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer.splashScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* line 83, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer.splashScreen p {
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 15px;
}
/* line 89, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer.splashScreen .subHeading {
  color: #e53935;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 15px;
  display: inline-block;
}
/* line 98, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer.splashScreen .subQuestion {
  margin: 15px 0 0;
  display: inline-block;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
}
/* line 106, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer.splashScreen .btnWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
/* line 111, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer.splashScreen .btnWrapper > div {
  min-width: 200px !important;
}
/* line 114, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer.splashScreen .btnWrapper > div:first-child {
  flex: 1;
}
/* line 121, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper {
  display: flex;
  min-height: 200px;
  align-items: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 127, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .Touchable {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: inherit;
  outline: none;
}
/* line 136, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 142, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .row:hover .card {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 148, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper > div {
  flex: 1;
  position: relative;
}
/* line 153, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .row {
  margin-bottom: 15px;
}
/* line 157, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card {
  padding: 15px;
  margin: 15px 0;
  overflow: hidden;
}
/* line 162, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card > div {
  margin: 0 0 15px;
}
/* line 165, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card > div .fa {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  float: right;
  color: #00695c;
}
/* line 172, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card ul {
  margin: 0 0 10px;
}
/* line 175, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card ul li {
  list-style: disc;
  padding: 0 0 0;
  font-size: 16px;
  line-height: 21px;
  margin: 0 10px 15px 25px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 183, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card ul li:last-child {
  margin-bottom: 0;
}
/* line 189, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 100%;
  width: 5px;
  background: #00695c;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 200, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card.active {
  border: 1px solid #00695c;
}
/* line 203, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card.active:after {
  bottom: 0;
}
/* line 208, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card.active > div .fa {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 214, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .card:hover, #SurveyFormContainer #ContentContainer .questionWrapper .card.active {
  opacity: 1 !important;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.15) !important;
}
/* line 223, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .helpText {
  color: rgba(0, 0, 0, 0.54);
  margin: 15px 0 0;
  display: inline-block;
}
/* line 230, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .radioGroup > div {
  padding: 25px 15px 0;
}
/* line 235, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer #ContentContainer .questionWrapper .question {
  color: #000;
  display: inline-block;
  width: 100%;
  font-size: 25px;
  line-height: 28px;
  font-weight: lighter;
}
/* line 246, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer .primaryCTA {
  margin: 15px;
}
/* line 249, ../../sass/partials/_survey-form.scss */
#SurveyFormContainer .secondaryCTA {
  margin: 15px;
}

/* line 254, ../../sass/partials/_survey-form.scss */
.picWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 -15px;
  overflow: auto;
}
/* line 260, ../../sass/partials/_survey-form.scss */
.picWrapper > span {
  margin: 0 15px;
}
/* line 263, ../../sass/partials/_survey-form.scss */
.picWrapper > span img {
  margin: 0 0 15px;
}
/* line 267, ../../sass/partials/_survey-form.scss */
.picWrapper > span p {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 576px) {
  /* line 5, ../../sass/partials/_responsive.scss */
  #SurveyFormContainer #ContentContainer .questionWrapper {
    height: auto !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-bottom: 30px;
  }

  /* line 11, ../../sass/partials/_responsive.scss */
  #SurveyFormContainer #ContentContainer.splashScreen .btnWrapper > div {
    flex: 1;
  }
}
@media (min-width: 576px) {
  /* line 17, ../../sass/partials/_responsive.scss */
  .appHeader {
    display: block;
  }

  /* line 20, ../../sass/partials/_responsive.scss */
  .mobileHeader {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 25, ../../sass/partials/_responsive.scss */
  .appHeader {
    display: none;
  }

  /* line 28, ../../sass/partials/_responsive.scss */
  .mobileHeader {
    display: block;
    margin-bottom: 25px;
  }
  /* line 32, ../../sass/partials/_responsive.scss */
  .mobileHeader a.nav-link {
    color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    padding: 0;
  }
  /* line 37, ../../sass/partials/_responsive.scss */
  .mobileHeader a.nav-link.active {
    color: #eb3c3c;
  }

  /* line 42, ../../sass/partials/_responsive.scss */
  .Completed .clear {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 47, ../../sass/partials/_responsive.scss */
  .storyCTA {
    margin-bottom: 30px;
  }

  /* line 52, ../../sass/partials/_responsive.scss */
  .appHeader .container {
    flex-direction: column;
  }
  /* line 55, ../../sass/partials/_responsive.scss */
  .appHeader .container .domain, .appHeader .container .brand {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  /* line 63, ../../sass/partials/_responsive.scss */
  .appHeader .container .brand {
    padding: 25px;
  }

  /* line 68, ../../sass/partials/_responsive.scss */
  .simpleForm .simpleFormWrapper .row {
    flex-wrap: wrap-reverse;
  }

  /* line 71, ../../sass/partials/_responsive.scss */
  .navWrapper {
    display: none;
  }
}
