/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../sass/partials/_common.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

/* line 15, ../../sass/partials/_common.scss */
* {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 20, ../../sass/partials/_common.scss */
.btn {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: none;
  padding: 14px 15px;
  min-width: 175px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
/* line 30, ../../sass/partials/_common.scss */
.btn.btn-primary {
  background: #eb3c3c;
}
/* line 33, ../../sass/partials/_common.scss */
.btn.btn-primary:hover {
  background: #ca2e2e;
}

/* line 39, ../../sass/partials/_common.scss */
.nav.progressNav {
  margin-bottom: 25px;
}
/* line 42, ../../sass/partials/_common.scss */
.nav.progressNav a {
  font-size: 13px;
  font-weight: bold;
  color: #a2a5a8;
  flex: 1;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 52, ../../sass/partials/_common.scss */
.nav.progressNav a:after, .nav.progressNav a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 61, ../../sass/partials/_common.scss */
.nav.progressNav a:before {
  width: 10px;
  height: 10px;
  top: 0;
  background: black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 68, ../../sass/partials/_common.scss */
.nav.progressNav a:after {
  width: 100%;
  top: 4px;
  height: 1px;
  background: black;
}
/* line 75, ../../sass/partials/_common.scss */
.nav.progressNav a > .progressTitle {
  display: none;
  margin: 20px 0 0;
}
/* line 80, ../../sass/partials/_common.scss */
.nav.progressNav a:hover {
  color: #eb3c3c;
}
/* line 83, ../../sass/partials/_common.scss */
.nav.progressNav a.active {
  color: #eb3c3c;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 87, ../../sass/partials/_common.scss */
.nav.progressNav a.active:before {
  background: #eb3c3c;
}
/* line 91, ../../sass/partials/_common.scss */
.nav.progressNav a.active:after {
  width: 100%;
  height: 1px;
  background: #eb3c3c;
}
/* line 97, ../../sass/partials/_common.scss */
.nav.progressNav a.active > .progressTitle {
  display: block;
}

/* line 106, ../../sass/partials/_common.scss */
.react-tabs ul.react-tabs__tab-list li.react-tabs__tab {
  font-size: 13px;
  font-weight: bold;
  color: #a2a5a8;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
  margin: 0 0 25px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}
/* line 117, ../../sass/partials/_common.scss */
.react-tabs ul.react-tabs__tab-list li.react-tabs__tab:hover {
  color: #eb3c3c;
}
/* line 121, ../../sass/partials/_common.scss */
.react-tabs ul.react-tabs__tab-list li.react-tabs__tab.react-tabs__tab--selected {
  color: #eb3c3c;
  border-bottom: 2px solid #eb3c3c;
}

/* line 134, ../../sass/partials/_common.scss */
.img-responsive {
  max-width: 100%;
}

/* line 138, ../../sass/partials/_common.scss */
.hide {
  display: none !important;
}

/* line 6, ../../sass/admin.scss */
html,
body {
  height: 100%;
}

/* line 11, ../../sass/admin.scss */
body {
  background: #f5f7fa;
}

/* line 15, ../../sass/admin.scss */
#root,
#root > div,
#root > div > div {
  height: 100%;
}

/* line 21, ../../sass/admin.scss */
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  line-height: 46px;
  color: #2d343b;
  margin: 0 0 15px;
}

/* line 29, ../../sass/admin.scss */
.simpleForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45px;
}
/* line 37, ../../sass/admin.scss */
.simpleForm .simpleFormWrapper hr {
  margin: 30px -30px;
}
/* line 41, ../../sass/admin.scss */
.simpleForm .simpleFormWrapper h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
/* line 47, ../../sass/admin.scss */
.simpleForm .simpleFormWrapper > * {
  padding: 0 30px;
}
/* line 50, ../../sass/admin.scss */
.simpleForm .simpleFormWrapper > *:first-child {
  padding-top: 30px;
}
/* line 54, ../../sass/admin.scss */
.simpleForm .simpleFormWrapper > *:last-child {
  padding-bottom: 30px;
}

/* line 61, ../../sass/admin.scss */
.colField {
  display: flex;
}
/* line 64, ../../sass/admin.scss */
.colField li {
  flex: 1;
}

/* line 69, ../../sass/admin.scss */
.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 83, ../../sass/admin.scss */
.loader > .brand {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  margin-bottom: 15px;
}

/* line 90, ../../sass/admin.scss */
.appHeader {
  background: #fff;
  margin-bottom: 25px;
}
/* line 94, ../../sass/admin.scss */
.appHeader .container {
  align-items: center;
  display: flex;
}
/* line 98, ../../sass/admin.scss */
.appHeader .container > span {
  flex: 1;
  padding: 15px;
}
/* line 102, ../../sass/admin.scss */
.appHeader .container > span:last-child {
  text-align: right;
  padding: 0;
}
/* line 107, ../../sass/admin.scss */
.appHeader .container > span > a {
  margin: 0;
  cursor: pointer;
  padding: 15px;
  display: inline-block;
}
/* line 113, ../../sass/admin.scss */
.appHeader .container > span > a:hover {
  background: rgba(245, 247, 250, 0.5);
}
/* line 120, ../../sass/admin.scss */
.appHeader .storyCTA {
  display: 'flex';
  align-items: 'flex-end';
}
/* line 125, ../../sass/admin.scss */
.appHeader .brand {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  margin: 0;
  display: inline-block;
  text-align: center;
}

/* line 134, ../../sass/admin.scss */
.brand {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  margin: 0;
  display: inline-block;
  text-align: center;
}

/* line 142, ../../sass/admin.scss */
.storyCTA {
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  /* line 148, ../../sass/admin.scss */
  .storyCTA {
    margin-bottom: 30px;
  }

  /* line 153, ../../sass/admin.scss */
  .appHeader .container {
    flex-direction: column;
  }
}
