/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../sass/partials/_common.scss */
html,
body {
  height: 100%;
}

/* line 14, ../../sass/partials/_common.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background: #fff;
}

/* line 21, ../../sass/partials/_common.scss */
* {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../../sass/partials/_common.scss */
.btn {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: none;
  padding: 14px 15px;
  min-width: 175px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
/* line 37, ../../sass/partials/_common.scss */
.btn.btn-primary {
  background: #2d343b;
}
/* line 40, ../../sass/partials/_common.scss */
.btn.btn-primary:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 47, ../../sass/partials/_common.scss */
.nav a {
  font-size: 13px;
  font-weight: bold;
  color: #a2a5a8;
  text-transform: uppercase;
  min-height: 15px;
  border-bottom: 2px solid #fff;
}
/* line 56, ../../sass/partials/_common.scss */
.nav a > span.fa {
  margin-right: 5px;
}
/* line 61, ../../sass/partials/_common.scss */
.nav a:hover {
  color: #2d343b;
}
/* line 64, ../../sass/partials/_common.scss */
.nav a.active {
  color: #2d343b;
  border-bottom: 2px solid #2d343b;
}

/* line 73, ../../sass/partials/_common.scss */
.react-tabs ul.react-tabs__tab-list li.react-tabs__tab {
  font-size: 13px;
  font-weight: bold;
  color: #a2a5a8;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
  margin: 0 0 25px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}
/* line 84, ../../sass/partials/_common.scss */
.react-tabs ul.react-tabs__tab-list li.react-tabs__tab:hover {
  color: #2d343b;
}
/* line 88, ../../sass/partials/_common.scss */
.react-tabs ul.react-tabs__tab-list li.react-tabs__tab.react-tabs__tab--selected {
  color: #2d343b;
  border-bottom: 2px solid #2d343b;
}

/* line 101, ../../sass/partials/_common.scss */
.hide {
  display: none !important;
}

/* line 105, ../../sass/partials/_common.scss */
#root,
#root > div,
#root > div > div {
  height: 100%;
}

/* line 111, ../../sass/partials/_common.scss */
#profile {
  min-height: 100%;
}
/* line 114, ../../sass/partials/_common.scss */
#profile > div {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
/* line 120, ../../sass/partials/_common.scss */
#profile .sidebar {
  padding: 25px;
  background: #2d343b;
  flex: 1;
  width: 460px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
}
/* line 134, ../../sass/partials/_common.scss */
#profile .sidebar .home-menu {
  justify-content: space-between;
  display: flex;
}
/* line 138, ../../sass/partials/_common.scss */
#profile .sidebar .home-menu a {
  color: #fff;
}
/* line 141, ../../sass/partials/_common.scss */
#profile .sidebar .home-menu a:nth-child(2n) {
  padding: 10px;
}
/* line 145, ../../sass/partials/_common.scss */
#profile .sidebar .home-menu .initial {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  padding: 9px 3px;
  color: rgba(0, 0, 0, 0.3);
}
/* line 153, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper {
  -moz-box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.05);
  height: 630px;
  max-height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 52%;
  background-color: #ffffff;
}
/* line 164, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic, #profile .sidebar > .profilePicWrapper > .profilePic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 175, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic {
  background: #fff;
  z-index: 2;
  overflow: auto;
}
/* line 180, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .total-exp {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 30px;
}
/* line 186, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .total-exp .job-exp {
  font-weight: bolder;
  font-size: 25px;
  color: #e83435;
  margin: 10px 0 0;
}
/* line 193, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .job-wrapper {
  background: #f4f7f8;
  -moz-box-shadow: inset 0 6px 5px 0 rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: inset 0 6px 5px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 6px 5px 0 rgba(0, 0, 0, 0.02);
  padding: 15px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/* line 202, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .job-wrapper:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: -8px;
  margin: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 216, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .job-wrapper > .job {
  flex-direction: column;
  display: flex;
  flex: 1;
  min-width: 45%;
  padding: 15px;
}
/* line 224, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .job-title {
  font-weight: bold;
  font-size: 13px;
  color: #a2a5a8;
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* line 231, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .job-duration {
  color: #68717c;
  margin-bottom: 5px;
}
/* line 235, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .job-exp {
  font-size: 20px;
  color: #68717c;
  margin-bottom: 5px;
}
/* line 240, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .skills {
  padding: 30px;
}
/* line 243, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .skills .job-title {
  margin-bottom: 15px;
  display: inline-block;
}
/* line 248, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .skills > .skill {
  margin: 0 0 15px;
}
/* line 251, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .infographic .skills > .skill > span {
  color: #68717c;
}
/* line 258, ../../sass/partials/_common.scss */
#profile .sidebar > .profilePicWrapper > .profilePic {
  background: url("/images/Photo.png") no-repeat top center;
  background-size: cover;
  z-index: 1;
}
/* line 264, ../../sass/partials/_common.scss */
#profile .sidebar > dl {
  line-height: 21px;
}
/* line 267, ../../sass/partials/_common.scss */
#profile .sidebar > dl > span {
  display: inline-block;
  width: 100%;
}
/* line 271, ../../sass/partials/_common.scss */
#profile .sidebar > dl > span:last-child dd {
  margin-bottom: 0;
}
/* line 276, ../../sass/partials/_common.scss */
#profile .sidebar > dl dt {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 282, ../../sass/partials/_common.scss */
#profile .sidebar > dl dd {
  color: #fff;
  margin: 0 0 15px;
}
/* line 287, ../../sass/partials/_common.scss */
#profile .sidebar > dl dd.social a {
  color: #fff;
  padding-right: 15px;
  font-size: 16px;
  padding-right: 15px;
}
/* line 295, ../../sass/partials/_common.scss */
#profile .sidebar > dl dd a {
  color: #fff;
}
/* line 298, ../../sass/partials/_common.scss */
#profile .sidebar > dl dd a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 305, ../../sass/partials/_common.scss */
#profile .ProgressBar {
  width: 100%;
  height: 5px;
  background: #f2f6f7;
  display: inline-block;
  position: relative;
}
/* line 312, ../../sass/partials/_common.scss */
#profile .ProgressBar > span {
  background: #2d343b;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
/* line 320, ../../sass/partials/_common.scss */
#profile .contentWrapper {
  flex: 1;
  padding: 25px;
  margin-left: 460px;
  display: flex;
  max-width: 670px;
  flex-direction: column;
  box-sizing: content-box;
}
/* line 329, ../../sass/partials/_common.scss */
#profile .contentWrapper.home {
  justify-content: space-between;
}
/* line 332, ../../sass/partials/_common.scss */
#profile .contentWrapper.home .social-profiles {
  display: none;
  margin-top: 30px;
}
/* line 336, ../../sass/partials/_common.scss */
#profile .contentWrapper.home .social-profiles > span {
  margin: 0 0 15px;
  display: inline-block;
  width: 100%;
}
/* line 341, ../../sass/partials/_common.scss */
#profile .contentWrapper.home .social-profiles > span .social {
  margin-left: -5px;
}
/* line 344, ../../sass/partials/_common.scss */
#profile .contentWrapper.home .social-profiles > span .social .fa {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ccc;
}
/* line 355, ../../sass/partials/_common.scss */
#profile .contentWrapper.story .nav {
  position: fixed;
  z-index: 1000;
}
/* line 359, ../../sass/partials/_common.scss */
#profile .contentWrapper.story .nav + .menuMask {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 130px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, #ffffff 40%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, #ffffff 40%, rgba(255, 255, 255, 0) 100%);
}
/* line 369, ../../sass/partials/_common.scss */
#profile .contentWrapper.story .content {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 95px;
}
/* line 376, ../../sass/partials/_common.scss */
#profile .contentWrapper .content {
  padding-left: 210px;
}
/* line 379, ../../sass/partials/_common.scss */
#profile .contentWrapper .content p {
  white-space: pre-wrap;
}
/* line 384, ../../sass/partials/_common.scss */
#profile .contentWrapper .short-desc {
  color: #68717c;
  line-height: 21px;
  margin: -10px 0 25px;
  display: inline-block;
}
/* line 390, ../../sass/partials/_common.scss */
#profile .contentWrapper .short-desc > span {
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
}
/* line 396, ../../sass/partials/_common.scss */
#profile .contentWrapper p {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #68717c;
  line-height: 30px;
  margin: 0 0 25px;
}

/* line 407, ../../sass/partials/_common.scss */
dl.timeline dt {
  width: 50px;
  text-align: right;
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #2d343b;
  line-height: 24px;
}
/* line 416, ../../sass/partials/_common.scss */
dl.timeline dd {
  margin-left: 75px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #68717c;
  line-height: 30px;
  position: relative;
  padding-left: 25px;
}
/* line 425, ../../sass/partials/_common.scss */
dl.timeline dd:before {
  content: "\f10c";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 11px;
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 440, ../../sass/partials/_common.scss */
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  line-height: 46px;
  color: #2d343b;
  margin: 0 0 15px;
}

/* line 448, ../../sass/partials/_common.scss */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

/* line 453, ../../sass/partials/_common.scss */
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/* line 458, ../../sass/partials/_common.scss */
.loader {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 465, ../../sass/partials/_common.scss */
.loader > .brand {
  font-family: "Yesteryear", cursive;
  font-size: 30px;
  margin-bottom: 15px;
}

/* line 472, ../../sass/partials/_common.scss */
.notFound {
  display: flex;
  flex: 1;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
/* line 479, ../../sass/partials/_common.scss */
.notFound > span {
  font-size: 16px;
}
/* line 482, ../../sass/partials/_common.scss */
.notFound > span.foundMsg {
  text-align: center;
}
/* line 485, ../../sass/partials/_common.scss */
.notFound > span.foundMsg:before {
  content: "";
  display: block;
  width: 224px;
  height: 144px;
  background: url("../images/notfound.jpg") no-repeat center center;
  margin: 0 0 25px;
}
/* line 494, ../../sass/partials/_common.scss */
.notFound > span.heading {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 33px;
  margin: 9px 0 15px;
}
/* line 500, ../../sass/partials/_common.scss */
.notFound > span.message {
  margin: 0 0 30px;
}
/* line 503, ../../sass/partials/_common.scss */
.notFound > span strong {
  font-weight: bolder;
}

/* line 3, ../../sass/partials/_landingPage.scss */
#landingPage {
  background: #f4f4f4;
  height: auto !important;
  padding-bottom: 100px;
}
/* line 8, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper {
  max-width: 1280px;
  margin: auto;
  flex: 1;
  background: #f5f7fa;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
}
/* line 15, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper h1, #landingPage .pageWrapper h2, #landingPage .pageWrapper h3 {
  font-family: 'Volkhov', serif;
}
/* line 21, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper img {
  max-width: 100%;
}
/* line 25, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner {
  flex: 1;
  background: url("../images/banner.png") no-repeat top center;
  background-size: 1280px;
}
/* line 30, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
/* line 36, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container .topStrip {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 43, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container .topStrip a {
  color: #fff;
  display: inline-block;
  padding: 30px 0;
}
/* line 49, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container .topStrip .brand {
  font-family: "Yesteryear", cursive;
  font-size: 24px;
  min-width: 200px;
  flex: 1;
}
/* line 55, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container .topStrip .signCTA {
  min-width: 200px;
  flex: 1;
  text-align: right;
}
/* line 60, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container .topStrip .signCTA a {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 67, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container > h3 {
  margin: 15px 0 10px;
  font-size: 16px;
  font-weight: bold;
}
/* line 73, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container > h1 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  line-height: 61px;
  margin: 0 0 30px;
  text-align: center;
}
/* line 82, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container > p {
  font-family: 'Volkhov', serif;
  font-size: 16px;
  margin: 0 0 30px;
  line-height: 23px;
  text-align: center;
}
/* line 91, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container > .btn.signup {
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 25px;
  margin: 15px 0 45px;
}
/* line 97, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .banner .container > .btn.signup:hover {
  background: #fff;
  color: #007bff;
}
/* line 107, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper h5 {
  font-size: 16px;
  font-weight: bold;
  color: #102350;
  line-height: 36px;
  text-align: center;
}
/* line 114, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper h5:after {
  content: "";
  height: 2px;
  width: 30px;
  background: #d0d6df;
  display: block;
  margin: 5px auto 10px;
}
/* line 124, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow {
  display: flex;
  align-items: center;
}
/* line 128, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow > div {
  display: flex;
}
/* line 131, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow > div:first-child {
  justify-content: flex-end;
  align-items: flex-end;
}
/* line 135, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow > div:last-child {
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 141, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow p {
  max-width: 360px;
}
/* line 145, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow > * {
  flex: 1;
}
/* line 148, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow.imgRight {
  flex-direction: row-reverse;
}
/* line 152, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow.imgRight > div:first-child {
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 156, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow.imgRight > div:last-child {
  align-items: flex-end;
  justify-content: flex-end;
}
/* line 161, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper .secRow.imgRight p {
  text-align: right;
}
/* line 167, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper .homeContWrapper p {
  font-family: 'Volkhov', serif;
  font-size: 22px;
  line-height: 30px;
}
/* line 174, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper > .footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: -60px;
  margin-top: 60px;
  flex-wrap: wrap;
  padding: 0 30px;
}
/* line 183, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper > .footer .fa-heart {
  color: #e74c3c;
}
/* line 187, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper > .footer > * {
  min-width: 200px;
  flex: 1;
}
/* line 191, ../../sass/partials/_landingPage.scss */
#landingPage .pageWrapper > .footer > *:last-child {
  text-align: right;
}

@media (max-width: 576px) {
  /* line 200, ../../sass/partials/_landingPage.scss */
  .brand {
    text-align: center;
  }

  /* line 203, ../../sass/partials/_landingPage.scss */
  .signCTA {
    display: none;
  }

  /* line 206, ../../sass/partials/_landingPage.scss */
  #landingPage .pageWrapper > .footer > *,
  #landingPage .pageWrapper > .footer > *:last-child {
    text-align: center;
    min-width: 250px;
  }

  /* line 212, ../../sass/partials/_landingPage.scss */
  #landingPage .pageWrapper > .footer > *:last-child {
    margin-top: 15px;
    margin-bottom: -15px;
  }
}
@media (max-width: 768px) {
  /* line 219, ../../sass/partials/_landingPage.scss */
  #landingPage .pageWrapper .homeContWrapper .secRow,
  #landingPage .pageWrapper .homeContWrapper .secRow.imgRight {
    flex-direction: column;
  }
  /* line 223, ../../sass/partials/_landingPage.scss */
  #landingPage .pageWrapper .homeContWrapper .secRow > div,
  #landingPage .pageWrapper .homeContWrapper .secRow.imgRight > div {
    align-items: center;
  }
  /* line 226, ../../sass/partials/_landingPage.scss */
  #landingPage .pageWrapper .homeContWrapper .secRow > div:first-child,
  #landingPage .pageWrapper .homeContWrapper .secRow.imgRight > div:first-child {
    margin-bottom: -40px;
  }
  /* line 229, ../../sass/partials/_landingPage.scss */
  #landingPage .pageWrapper .homeContWrapper .secRow > div:last-child,
  #landingPage .pageWrapper .homeContWrapper .secRow.imgRight > div:last-child {
    margin-bottom: 40px;
  }
  /* line 233, ../../sass/partials/_landingPage.scss */
  #landingPage .pageWrapper .homeContWrapper .secRow > div p,
  #landingPage .pageWrapper .homeContWrapper .secRow.imgRight > div p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  /* line 12, ../../sass/partials/_responsive.scss */
  .btn {
    display: block;
  }

  /* line 16, ../../sass/partials/_responsive.scss */
  #profile > div {
    flex-direction: column;
  }
  /* line 19, ../../sass/partials/_responsive.scss */
  #profile > div .sidebar {
    width: 100%;
    padding: 0;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* line 28, ../../sass/partials/_responsive.scss */
  #profile > div .sidebar dl {
    display: none;
  }
  /* line 33, ../../sass/partials/_responsive.scss */
  #profile > div .sidebar .home-menu .initial {
    position: absolute;
    z-index: 9;
    top: 15px;
    left: 15px;
    font-size: 20px;
  }
  /* line 42, ../../sass/partials/_responsive.scss */
  #profile > div .sidebar > .profilePicWrapper {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    max-height: none;
    z-index: 1;
    margin: 0;
    height: 500px;
    width: auto !important;
  }
  /* line 54, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper {
    margin-left: 0;
    position: relative;
    z-index: 9;
    background: #fff;
    margin-top: 500px;
    display: inline-block;
    width: 100%;
    max-width: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 65, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper .content {
    padding-left: 0;
  }
  /* line 68, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper .content .social-profiles {
    display: block;
  }
  /* line 72, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper .content + .nav {
    display: none;
  }
  /* line 78, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper.story .nav {
    position: relative;
    display: flex;
  }
  /* line 82, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper.story .nav a {
    flex: 1;
    text-align: center;
  }
  /* line 87, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper.story .nav a.active > span {
    display: inline-block;
  }
  /* line 92, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper.story .nav a > span {
    display: none;
  }
  /* line 95, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper.story .nav a > span.fa {
    display: block;
  }
  /* line 101, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper.story .menuMask {
    display: none;
  }
  /* line 104, ../../sass/partials/_responsive.scss */
  #profile > div .contentWrapper.story .content {
    padding-left: 0;
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  /* line 117, ../../sass/partials/_responsive.scss */
  #profile .sidebar {
    width: 350px;
  }
  /* line 120, ../../sass/partials/_responsive.scss */
  #profile .contentWrapper {
    margin-left: 350px;
  }
  /* line 123, ../../sass/partials/_responsive.scss */
  #profile .contentWrapper .content {
    padding-left: 245px;
  }
  /* line 128, ../../sass/partials/_responsive.scss */
  #profile .contentWrapper.story .content {
    padding-left: 130px;
  }
}
