@import "compass/reset";
@import "compass/css3";
@import "partials/constants";
@import "partials/common";

html,
body {
  height: 100%;
}

body {
  background: #fff;
}

#root,
#root > div,
#root > div > div {
  height: 100%;
}

h1 {
  font-family: $serif-font;
  font-size: 35px;
  line-height: 46px;
  color: #2d343b;
  margin: 0 0 15px;
}

.simpleForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .simpleFormWrapper {
    & > * {
      padding: 0 30px;

      &:first-child {
        padding-top: 30px;
      }

      &:last-child {
        padding-bottom: 30px;
      }
    }
  }
}

.colField {
  display: flex;

  & li {
    flex: 1;
  }
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .brand {
    font-family: $brand-font;
    font-size: 30px;
    margin-bottom: 15px;
  }
}
