@import "compass/reset";
@import "compass/css3";
@import "partials/constants";
@import "partials/common";

html,
body {
  height: 100%;
}

body {
  background: #fff;
}

#root,
#root > div,
#root > div > div {
  height: 100%;
}

h1 {
  font-family: $serif-font;
  font-size: 35px;
  line-height: 46px;
  color: #2d343b;
  margin: 0 0 15px;
}

.simpleForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .simpleFormWrapper {
    & > * {
      padding: 0 30px;

      &:first-child {
        padding-top: 30px;
      }

      &:last-child {
        padding-bottom: 30px;
      }
    }
  }
}

.colField {
  display: flex;

  & li {
    flex: 1;
  }
}
